<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>天利阁服饰有限公司</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header text-center">
                <h1>
                    郑重声明
                </h1>
                <h1>
                    <small>天利阁服饰有限公司</small>
                </h1>
            </div>
            <h3>我司是<span class="text-danger" th:text="${brand}"></span>品牌服饰在<span th:text="${area}"></span><strong>唯一的</strong>销售代理公司，在此向广大消费者郑重承诺：
            </h3>
            <h3>
                1、所有商品为正品商品；
            </h3>
            <h3>
                2、会员全年（含节假日）享受最低9折优惠。
            </h3>

            <h3>
                <strong>我们从来不打价格战，坚守品质是给消费者最大的保障！</strong>
            </h3>
        </div>
    </div>
</div>
</body>
</html>